# 제주도 교통량 예측 문제

In [144]:
train_X = pd.read_csv("https://raw.githubusercontent.com/Datamanim/jeju/main/Jeju_trainX.csv",encoding='euc-kr')
train_y= pd.read_csv("https://raw.githubusercontent.com/Datamanim/jeju/main/Jeju_trainy.csv",encoding='euc-kr')
test_X= pd.read_csv("https://raw.githubusercontent.com/Datamanim/jeju/main/Jeju_testX.csv",encoding='euc-kr')
sub= pd.read_csv("https://raw.githubusercontent.com/Datamanim/jeju/main/subExample.csv",encoding='euc-kr')

In [105]:
train_X.head(3)

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,0,2018-01-01,서귀포시,남원읍,291408.897,18744.131,219588.857,529741.884,53.000,40.571,2.35,0.0,3.325
1,1,2018-01-01,제주시,노형동,1215420.248,74964.858,445735.329,1736120.435,38.563,30.655,-2.30,0.0,1.100
2,2,2018-01-01,제주시,구좌읍,276220.023,17542.105,248104.122,541866.250,53.188,40.719,5.90,0.0,4.100

In [106]:
train_y.head(3)

   id       교통량
0   0    76.200
1   1  1291.184
2   2     0.000

In [107]:
test_X.head(3)

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,22448,2018-01-01,제주시,도두동,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.5
1,22449,2018-01-01,제주시,외도동,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.5
2,22450,2018-01-01,제주시,이도2동,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.4

In [108]:
sub.head(3)

      id  교통량
0  22448    0
1  22449    0
2  22450    0

## 각데이터의 결측치, 데이터타입, 연속형변수의 분포를 파악하라

In [109]:
train_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22448 entries, 0 to 22447
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        22448 non-null  int64
 1   일자        22448 non-null  object
 2   시도명       22448 non-null  object
 3   읍면동명      22448 non-null  object
 4   거주인구      22448 non-null  float64
 5   근무인구      22448 non-null  float64
 6   방문인구      22448 non-null  float64
 7   총 유동인구    22448 non-null  float64
 8   평균 속도     22448 non-null  float64
 9   평균 소요 시간  22448 non-null  float64
 10  평균 기온     22448 non-null  float64
 11  일강수량      22448 non-null  float64
 12  평균 풍속     22448 non-null  float64
dtypes: float64(9), int64(1), object(3)
memory usage: 2.2+ MB

In [110]:
train_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22448 entries, 0 to 22447
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      22448 non-null  int64
 1   교통량     22448 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 350.9 KB

In [111]:
test_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

In [112]:
sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      9621 non-null   int64
 1   교통량     9621 non-null   int64
dtypes: int64(2)
memory usage: 150.5 KB

In [154]:
# 라벨인코딩 작업형1에 나올수도 있으니 익혀놓기!
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(train_X['읍면동명']) # 라벨인코딩은 대상 칼럼 하나씩 fit해줘야함 

# 라벨인코딩은 원핫보다 조금 더 번거롭군...
train_X['읍면동명'] = le.transform(train_X['읍면동명'])
test_X['읍면동명'] = le.transform(test_X['읍면동명'])

le2 = LabelEncoder()
le2.fit(train_X['시도명'])
train_X['시도명'] = le2.transform(train_X['시도명'])
test_X['시도명'] = le2.transform(test_X['시도명'])

In [119]:
train_X[['시도명', '읍면동명']].head(6)

   시도명  읍면동명
0    0     2
1    1     3
2    1     1
3    1    24
4    1     0
5    1    25

## ‘id’ 컬럼을 제거하라. ‘일자’를 년도,월,일,요일(숫자)로 각각 분리하여 컬럼을 형성하라. 그후 ‘일자’컬럼을 제거하라

In [160]:
train_X.drop(['id'], axis=1, inplace=True)

In [161]:
import pandas as pd

# datetime 칼럼의경우 년-월-일 문자형식이라 가공필요. 년, 월, 일, 시간 4개의 속성으로 분리하자. 
# 문자열을 datetime 타입으로 변경
train_X['일자'] = train_X.일자.apply(pd.to_datetime)

# datetime에서 년, 월, 일 추출
train_X['year'] = train_X.일자.apply(lambda x : x.year)
train_X['month'] = train_X.일자.apply(lambda x : x.month)
train_X['day'] = train_X.일자.apply(lambda x : x.day)

train_X.head(3)

,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속,year,month,day
0,2018-01-01,0,2,-0.087699,-0.418008,0.166825,-0.042833,53.000,40.571,2.35,0.0,3.325,2018,1,1
1,2018-01-01,1,3,3.011526,0.959452,1.775292,2.573146,38.563,30.655,-2.30,0.0,1.100,2018,1,1
2,2018-01-01,1,1,-0.138644,-0.447459,0.369639,-0.016541,53.188,40.719,5.90,0.0,4.100,2018,1,1

In [162]:
train_X.drop(['일자'], axis=1, inplace=True)

In [126]:
train_X.head(3)

,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속,year,month,day
0,0,2,291408.897,18744.131,219588.857,529741.884,53.000,40.571,2.35,0.0,3.325,2018,1,1
1,1,3,1215420.248,74964.858,445735.329,1736120.435,38.563,30.655,-2.30,0.0,1.100,2018,1,1
2,1,1,276220.023,17542.105,248104.122,541866.250,53.188,40.719,5.90,0.0,4.100,2018,1,1

In [155]:
# 테스트도 똑같이 실행 
test_X['일자'] = test_X.일자.apply(pd.to_datetime)
test_X['year'] = test_X.일자.apply(lambda x : x.year)
test_X['month'] = test_X.일자.apply(lambda x : x.month)
test_X['day'] = test_X.일자.apply(lambda x : x.day)

In [156]:
test_X.drop(['일자'], axis=1, inplace=True)

In [157]:
test_X.drop(['id'], axis=1, inplace=True)

## 인구 관련 컬럼(거주인구,근무인구,방문인구,총 유동인구를 정규화하라. 정규화시 trainset에 대한 fit을 test셋에 적용하라.

In [127]:
train_X.describe()

,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속,year,month,day
count,22448.000000,22448.000000,2.244800e+04,22448.000000,22448.000000,2.244800e+04,22448.000000,22448.000000,22448.000000,22448.000000,22448.000000,22448.000000,22448.000000,22448.000000
mean,0.599385,20.349474,3.175557e+05,35805.028052,196133.748259,5.494945e+05,41.101625,37.221661,13.534623,7.401781,2.738243,2018.728795,6.072657,15.731914
std,0.490034,11.766618,2.981494e+05,40815.683983,140600.598737,4.611679e+05,8.708300,12.974543,7.749613,28.853829,1.468865,0.704879,3.497789,8.808888
min,0.000000,0.000000,1.032726e+04,1172.448000,10788.381000,2.228809e+04,23.545000,12.667000,-11.600000,0.000000,0.000000,2018.000000,1.000000,1.000000
25%,0.000000,10.000000,9.470432e+04,12221.819500,100005.044750,2.228364e+05,34.269000,27.889000,7.600000,0.000000,1.750000,2018.000000,3.000000,8.000000
50%,1.000000,20.000000,2.219279e+05,21765.337000,153158.832500,3.894584e+05,39.651500,34.500000,13.300000,0.000000,2.400000,2019.000000,6.000000,16.000000
75%,1.000000,30.000000,4.100979e+05,40316.875750,235928.067500,6.412934e+05,49.101250,46.191000,19.733000,1.500000,3.400000,2019.000000,9.000000,23.000000
max,1.000000,40.000000,1.353561e+06,272224.930000,786387.113000,2.079278e+06,95.000000,135.400000,30.400000,583.500000,17.700000,2020.000000,12.000000,31.000000

In [158]:
# StandardScaler는 원핫인코딩과 달리 스케일링하고자하는 칼럼만 뽑아서 함. 
# transform 후 다시 해당 칼럼에 저장해야하는것 잊지말기.
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(train_X[['거주인구', '근무인구', '방문인구', '총 유동인구']])
train_X[['거주인구', '근무인구', '방문인구', '총 유동인구']] = scaler.transform(train_X[['거주인구', '근무인구', '방문인구', '총 유동인구']])
test_X[['거주인구', '근무인구', '방문인구', '총 유동인구']] = scaler.transform(test_X[['거주인구', '근무인구', '방문인구', '총 유동인구']])

In [129]:
train_X.head(3)

,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속,year,month,day
0,0,2,-0.087699,-0.418008,0.166825,-0.042833,53.000,40.571,2.35,0.0,3.325,2018,1,1
1,1,3,3.011526,0.959452,1.775292,2.573146,38.563,30.655,-2.30,0.0,1.100,2018,1,1
2,1,1,-0.138644,-0.447459,0.369639,-0.016541,53.188,40.719,5.90,0.0,4.100,2018,1,1

## 적당한 회귀 모델을 선정하고, 학습 및 mean_squared_error 값을 통해 모델을 검증하라

In [163]:
# 만만한 회귀트리
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

X_train, X_test, y_train, y_test = train_test_split(train_X, train_y['교통량'], 
                                                   test_size=0.2, random_state=101)

rf_reg = RandomForestRegressor()
rf_reg.fit(X_train, y_train)
pred = rf_reg.predict(X_test)

mse = mean_squared_error(y_test, pred)

print('mse : {0:.3f}'.format(mse))

mse : 7231.423

## 모델을 통해 테스트셋의 예측값을 추출하고 제출파일을 생성 및 저장하라.

In [164]:
sub['교통량'] = rf_reg.predict(test_X)
print(type(pred2))

<class 'numpy.ndarray'>

In [165]:
sub.head(3)

      id         교통량
0  22448  1340.03697
1  22449  1085.51950
2  22450   327.53264

In [166]:
sub.to_csv('jeju_traffic.csv')