# 작업형 제 1유형 예시문제
## Q1. 
mtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 최소 최대 척도(min-max scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 구하시오.<br>
<b>나의 풀이</b>

In [12]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/mtcars.csv',index_col=0)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, Mazda RX4 to Volvo 142E
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     32 non-null     float64
 1   cyl     32 non-null     int64
 2   disp    32 non-null     float64
 3   hp      32 non-null     int64
 4   drat    32 non-null     float64
 5   wt      32 non-null     float64
 6   qsec    32 non-null     float64
 7   vs      32 non-null     int64
 8   am      32 non-null     int64
 9   gear    32 non-null     int64
 10  carb    32 non-null     int64
dtypes: float64(5), int64(6)
memory usage: 3.0+ KB

In [14]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [23]:
df.head(3)

                mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4      21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710     22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1

In [20]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(df) #ndarray 형태로 반환

In [24]:
 print(df_scaled[:, 6]) # qsec 칼럼은 열방향 6번째 인덱스

[0.23333333 0.3        0.48928571 0.58809524 0.3        0.68095238
 0.15952381 0.6547619  1.         0.45238095 0.52380952 0.3452381
 0.36904762 0.41666667 0.41428571 0.3952381  0.34761905 0.59166667
 0.47857143 0.64285714 0.65595238 0.28214286 0.33333333 0.10833333
 0.30357143 0.52380952 0.26190476 0.28571429 0.         0.11904762
 0.01190476 0.48809524]

In [36]:
lst = df_scaled[:, 6].tolist()

In [37]:
print(lst)

[0.2333333333333334, 0.30000000000000004, 0.4892857142857141, 0.5880952380952384, 0.30000000000000004, 0.680952380952381, 0.15952380952380962, 0.6547619047619049, 1.0000000000000002, 0.45238095238095233, 0.523809523809524, 0.3452380952380951, 0.3690476190476193, 0.41666666666666674, 0.41428571428571437, 0.3952380952380954, 0.34761904761904794, 0.5916666666666666, 0.4785714285714284, 0.642857142857143, 0.6559523809523811, 0.28214285714285725, 0.33333333333333326, 0.10833333333333339, 0.3035714285714286, 0.523809523809524, 0.26190476190476186, 0.2857142857142858, 0.0, 0.11904761904761907, 0.011904761904761862, 0.48809523809523836]

In [38]:
cnt = 0
for i in lst:
    if i > 0.5:
       cnt += 1
print(cnt)

9

<b>해답</b>

In [40]:
X = df['qsec']
# X - X의 최솟값 / (X의 최댓값 - X의 최솟값) - 계산식을 그대로 사용 
X_MinMax = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
overNum = len(X_MinMax[X_MinMax>0.5])
X_MinMax.values

array([0.23333333, 0.3       , 0.48928571, 0.58809524, 0.3       ,
       0.68095238, 0.15952381, 0.6547619 , 1.        , 0.45238095,
       0.52380952, 0.3452381 , 0.36904762, 0.41666667, 0.41428571,
       0.3952381 , 0.34761905, 0.59166667, 0.47857143, 0.64285714,
       0.65595238, 0.28214286, 0.33333333, 0.10833333, 0.30357143,
       0.52380952, 0.26190476, 0.28571429, 0.        , 0.11904762,
       0.01190476, 0.48809524])

In [41]:
overNum

9

## Q2
mtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 표준정규분포 데이터 표준화 (standardization) 변환 후 최대, 최소값을 각각 구하시오.<br>
<b>나의 풀이</b>

In [45]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_ary = scaler.fit_transform(df)
print(scaled_ary[:, 6])
print(scaled_ary[:, 6].min(axis=0))
print(scaled_ary[:, 6].max(axis=0))

[-0.78960058 -0.47120178  0.43282336  0.90473586 -0.47120178  1.34821989
 -1.14211353  1.22313465  2.87198554  0.25656688  0.59770845 -0.25514546
 -0.14143161  0.0859961   0.07462472 -0.01634637 -0.24377408  0.92179293
  0.38165212  1.16627772  1.22882034 -0.55648718 -0.31200239 -1.38659831
 -0.45414471  0.59770845 -0.65314395 -0.5394301  -1.90399635 -1.33542708
 -1.84713942  0.42713767]
-1.9039963517625231
2.8719855384368587

<b>해답</b>

In [46]:
mean = df.qsec.mean()
std = df.qsec.std()
scale = (df.qsec-mean)/std

Max = max(scale)
Min = min(scale)

print(Max,Min)

2.826754592962484 -1.8740102832334835

In [48]:
print(scale)

Mazda RX4             -0.777165
Mazda RX4 Wag         -0.463781
Datsun 710             0.426007
Hornet 4 Drive         0.890487
Hornet Sportabout     -0.463781
Valiant                1.326987
Duster 360            -1.124126
Merc 240D              1.203871
Merc 230               2.826755
Merc 280               0.252526
Merc 280C              0.588295
Merc 450SE            -0.251127
Merc 450SL            -0.139204
Merc 450SLC            0.084642
Cadillac Fleetwood     0.073449
Lincoln Continental   -0.016089
Chrysler Imperial     -0.239935
Fiat 128               0.907276
Honda Civic            0.375641
Toyota Corolla         1.147910
Toyota Corona          1.209468
Dodge Challenger      -0.547723
AMC Javelin           -0.307089
Camaro Z28            -1.364761
Pontiac Firebird      -0.446992
Fiat X1-9              0.588295
Porsche 914-2         -0.642858
Lotus Europa          -0.530935
Ford Pantera L        -1.874010
Ferrari Dino          -1.314395
Maserati Bora         -1.818049
Volvo 142E             0.420411
Name: qsec, dtype: float64

## Q3
*mtcars 데이터셋(mtcars.csv)의 wt 컬럼의 이상치(IQR 1.5 외부에 존재하는)값들을 outlier 변수에 저장하라 <br>
<b>나의 풀이</b>

In [50]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [59]:
import numpy as np

Q1 = df['wt'].describe()['25%']
Q3 = df['wt'].describe()['75%']
IQR = Q3 - Q1

print(IQR)
print(Q3)
print(Q1)

1.02875
3.61
2.58125

In [62]:
# 3분위수 + IQR * 1.5 보다 크고, 1분위수 - IQR * 1.5보다 작으면 outlier
outlier = df[(df['wt'] >= Q3 + IQR*1.5) | (df['wt'] <= Q1 - IQR*1.5)]['wt']

In [63]:
print(outlier)

Cadillac Fleetwood     5.250
Lincoln Continental    5.424
Chrysler Imperial      5.345
Name: wt, dtype: float64

<b>해답</b>

In [64]:
q75,q50 ,q25 = np.percentile(df.wt, [75 ,50,25])
iqr = q75 - q25

outlier = df.wt[(df.wt>= q75 + iqr*1.5) | (df.wt <= q25 - iqr*1.5)].values

## Q4
mtcars 데이터셋에서 mpg변수와 나머지 변수들의 상관계수를 구하여 다음과 같이 내림차순 정렬하여 표현하라<br>
<b>나의 풀이</b>

In [77]:
corr = df.corr()
print(corr) # DataFrame 반환 
print(type(corr))

           mpg       cyl      disp        hp      drat        wt      qsec  \
mpg   1.000000 -0.852162 -0.847551 -0.776168  0.681172 -0.867659  0.418684
cyl  -0.852162  1.000000  0.902033  0.832447 -0.699938  0.782496 -0.591242
disp -0.847551  0.902033  1.000000  0.790949 -0.710214  0.887980 -0.433698
hp   -0.776168  0.832447  0.790949  1.000000 -0.448759  0.658748 -0.708223
drat  0.681172 -0.699938 -0.710214 -0.448759  1.000000 -0.712441  0.091205
wt   -0.867659  0.782496  0.887980  0.658748 -0.712441  1.000000 -0.174716
qsec  0.418684 -0.591242 -0.433698 -0.708223  0.091205 -0.174716  1.000000
vs    0.664039 -0.810812 -0.710416 -0.723097  0.440278 -0.554916  0.744535
am    0.599832 -0.522607 -0.591227 -0.243204  0.712711 -0.692495 -0.229861
gear  0.480285 -0.492687 -0.555569 -0.125704  0.699610 -0.583287 -0.212682
carb -0.550925  0.526988  0.394977  0.749812 -0.090790  0.427606 -0.656249

            vs        am      gear      carb
mpg   0.664039  0.599832  0.480285 -0.550925
cyl  -0.810812 -0.522607 -0.492687  0.526988
disp -0.710416 -0.591227 -0.555569  0.394977
hp   -0.723097 -0.243204 -0.125704  0.749812
drat  0.440278  0.712711  0.699610 -0.090790
wt   -0.554916 -0.692495 -0.583287  0.427606
qsec  0.744535 -0.229861 -0.212682 -0.656249
vs    1.000000  0.168345  0.206023 -0.569607
am    0.168345  1.000000  0.794059  0.057534
gear  0.206023  0.794059  1.000000  0.274073
carb -0.569607  0.057534  0.274073  1.000000
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [78]:
# Dataframe을 값으로 정렬하는건 sort_values, 내림차순은 ascending=False
print(corr.iloc[1:, 0].sort_values(ascending=False))

drat    0.681172
vs      0.664039
am      0.599832
gear    0.480285
qsec    0.418684
carb   -0.550925
hp     -0.776168
disp   -0.847551
cyl    -0.852162
wt     -0.867659
Name: mpg, dtype: float64

<b>해답</b>

In [79]:
corResult = df.corr()[['mpg']][1:].sort_values('mpg',ascending=False)

In [80]:
corResult

           mpg
drat  0.681172
vs    0.664039
am    0.599832
gear  0.480285
qsec  0.418684
carb -0.550925
hp   -0.776168
disp -0.847551
cyl  -0.852162
wt   -0.867659

## Q5

## Q6
mtcars 의 index는 (업체명) - (모델명)으로 구성된다. (valiant는 업체명) mtcars에 ‘brand’ 컬럼을 추가하고 value 값으로 업체명을 입력하라<br>
<b>나의 풀이</b>

In [101]:
# df.index.str.split() 은 인덱스 객체 반환
# list화 시킨 후 DataFrame화 시킨다
# values를 붙여야 axes labels를 제외한 값만 복사된다 
df['brand'] = pd.DataFrame(list(df.index.str.split()))[0].values

In [102]:
print(df['brand'])

Mazda RX4                 Mazda
Mazda RX4 Wag             Mazda
Datsun 710               Datsun
Hornet 4 Drive           Hornet
Hornet Sportabout        Hornet
Valiant                 Valiant
Duster 360               Duster
Merc 240D                  Merc
Merc 230                   Merc
Merc 280                   Merc
Merc 280C                  Merc
Merc 450SE                 Merc
Merc 450SL                 Merc
Merc 450SLC                Merc
Cadillac Fleetwood     Cadillac
Lincoln Continental     Lincoln
Chrysler Imperial      Chrysler
Fiat 128                   Fiat
Honda Civic               Honda
Toyota Corolla           Toyota
Toyota Corona            Toyota
Dodge Challenger          Dodge
AMC Javelin                 AMC
Camaro Z28               Camaro
Pontiac Firebird        Pontiac
Fiat X1-9                  Fiat
Porsche 914-2           Porsche
Lotus Europa              Lotus
Ford Pantera L             Ford
Ferrari Dino            Ferrari
Maserati Bora          Maserati
Volvo 142E                Volvo
Name: brand, dtype: object

In [103]:
print(type(df.index.str.split()))

<class 'pandas.core.indexes.base.Index'>

<b>해답</b>

In [ ]:
df['brand'] = pd.DataFrame(list(df.index.str.split(" ")))[0].values