# 작업형 제 2유형 예시문제
참조 사이트 : https://www.datamanim.com/dataset/03_dataq/main_p2.html <br>

In [1]:
#그래프 한글띄우기
import pandas as pd
import matplotlib.pyplot as plt
import platform
if platform.system() == 'Darwin': 
        plt.rc('font', family='AppleGothic') 
elif platform.system() == 'Windows': 
        plt.rc('font', family='Malgun Gothic') 
elif platform.system() == 'Linux': 
        plt.rc('font', family='Malgun Gothic') 
plt.rcParams['axes.unicode_minus'] = False

In [158]:
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/y_train.csv')
X_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/X_train.csv',encoding='euc-kr')
test  = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/X_test.csv',encoding='euc-kr')

## Q1
y_train,X_train데이터를 합쳐 trainDf 변수에 저장하라<br>
<b>나의 풀이</b>

In [159]:
trainDF = X_train.merge(y_train)

In [5]:
trainDF.head(3)

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,gender
0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17,0
1,1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1,0
2,2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1,1

<b>해답</b>

In [ ]:
trainDf = pd.merge(y_train,X_train)

## Q2
trainDf와 X_test의 결측치가 있는 컬럼의 숫자 및 결측치 숫자를 파악하고 결측치처리 방식에 대해 생각해보자<br>
<b>나의 풀이</b>

In [6]:
trainDF.info()
# 환불금액에 결측치 존재

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3500 entries, 0 to 3499
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
 10  gender   3500 non-null   int64
dtypes: float64(3), int64(6), object(2)
memory usage: 328.1+ KB

In [7]:
test.info()
# 환불금액에 결측치 존재

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2482 entries, 0 to 2481
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  2482 non-null   int64
 1   총구매액     2482 non-null   int64
 2   최대구매액    2482 non-null   int64
 3   환불금액     871 non-null    float64
 4   주구매상품    2482 non-null   object
 5   주구매지점    2482 non-null   object
 6   내점일수     2482 non-null   int64
 7   내점당구매건수  2482 non-null   float64
 8   주말방문비율   2482 non-null   float64
 9   구매주기     2482 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 194.0+ KB

In [8]:
trainDF.describe()

,cust_id,총구매액,최대구매액,환불금액,내점일수,내점당구매건수,주말방문비율,구매주기,gender
count,3500.000000,3.500000e+03,3.500000e+03,1.205000e+03,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000
mean,1749.500000,9.191925e+07,1.966424e+07,2.407822e+07,19.253714,2.834963,0.307246,20.958286,0.376000
std,1010.507298,1.635065e+08,3.199235e+07,4.746453e+07,27.174942,1.912368,0.289752,24.748682,0.484449
min,0.000000,-5.242152e+07,-2.992000e+06,5.600000e+03,1.000000,1.000000,0.000000,0.000000,0.000000
25%,874.750000,4.747050e+06,2.875000e+06,2.259000e+06,2.000000,1.666667,0.027291,4.000000,0.000000
50%,1749.500000,2.822270e+07,9.837000e+06,7.392000e+06,8.000000,2.333333,0.256410,13.000000,0.000000
75%,2624.250000,1.065079e+08,2.296250e+07,2.412000e+07,25.000000,3.375000,0.448980,28.000000,1.000000
max,3499.000000,2.323180e+09,7.066290e+08,5.637530e+08,285.000000,22.083333,1.000000,166.000000,1.000000

In [157]:
# 환불금액의 결측치는 평균으로 대체하면 될 듯. 
trainDF['환불금액'].fillna(trainDF['환불금액'].mean(), inplace=True)

In [11]:
trainDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3500 entries, 0 to 3499
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     3500 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
 10  gender   3500 non-null   int64
dtypes: float64(3), int64(6), object(2)
memory usage: 328.1+ KB

In [12]:
test['환불금액'].fillna(test['환불금액'].mean(), inplace=True)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2482 entries, 0 to 2481
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  2482 non-null   int64
 1   총구매액     2482 non-null   int64
 2   최대구매액    2482 non-null   int64
 3   환불금액     2482 non-null   float64
 4   주구매상품    2482 non-null   object
 5   주구매지점    2482 non-null   object
 6   내점일수     2482 non-null   int64
 7   내점당구매건수  2482 non-null   float64
 8   주말방문비율   2482 non-null   float64
 9   구매주기     2482 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 194.0+ KB

<b>해답</b><br>
환불금액의 경우 최솟값이 0이 아니기에, Nan은 결측치가 아닌 환불을 하지않은 경우(0원)로 판단 할수 있다. nan은 0으로 채운다

In [160]:
trainDF['환불금액'] =trainDF['환불금액'].fillna(0)
test['환불금액'] = test['환불금액'].fillna(0)

## Q3
범주형 변수의 유일값과 유일값의 갯수를 파악하라<br>
<b>나의 풀이</b>

In [22]:
# 범주형 변수 : 주구매상품, 주구매지점
main_prod = trainDF['주구매상품'].value_counts()
main_prod_cnt = main_prod.count()

In [29]:
print('주구매상품 유일값 리스트 : ', main_prod.index)
print('주구매상품 유일값 수 : ', main_prod_cnt)

주구매상품 유일값 리스트 :  Index(['기타', '가공식품', '농산물', '화장품', '시티웨어', '디자이너', '수산품', '캐주얼', '명품', '섬유잡화',
       '골프', '스포츠', '일용잡화', '모피/피혁', '육류', '남성 캐주얼', '구두', '건강식품', '차/커피',
       '피혁잡화', '아동', '축산가공', '주방용품', '셔츠', '젓갈/반찬', '주방가전', '트래디셔널', '남성정장',
       '생활잡화', '주류', '가구', '커리어', '대형가전', '란제리/내의', '식기', '액세서리', '침구/수예',
       '통신/컴퓨터', '보석', '남성 트랜디', '악기', '소형가전'],
      dtype='object')
주구매상품 유일값 수 :  42

In [30]:
main_place = trainDF['주구매지점'].value_counts()
main_place_cnt = main_place.count()

In [31]:
print('주구매지점 유일값 리스트 : ', main_place.index)
print('주구매지점 유일값 수 : ', main_place_cnt)

주구매지점 유일값 리스트 :  Index(['본  점', '잠실점', '분당점', '부산본점', '영등포점', '일산점', '강남점', '광주점', '노원점',
       '청량리점', '대전점', '미아점', '부평점', '동래점', '관악점', '인천점', '안양점', '포항점', '대구점',
       '센텀시티점', '울산점', '전주점', '창원점', '상인점'],
      dtype='object')
주구매지점 유일값 수 :  24

## Q5
데이터 정규화 및 one-hot-encoding ,홀드아웃기법, smote방식의 오버샘플링과 랜덤포레스트 모델 학습 및 테스트셋 auc값추출<br>
<b>나의 풀이</b>

In [32]:
trainDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3500 entries, 0 to 3499
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     3500 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
 10  gender   3500 non-null   int64
dtypes: float64(3), int64(6), object(2)
memory usage: 328.1+ KB

In [34]:
trainDF.gender.value_counts()
# 0(여자)이 훨씬 많음 => smote 오버샘플링 필요
# one-hot-encoding은 string형인 주구매상품, 주구매지점에 필요할듯

0    2184
1    1316
Name: gender, dtype: int64

In [68]:
trainDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3500 entries, 0 to 3499
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     3500 non-null   float64
 4   주구매상품    3500 non-null   uint8
 5   주구매지점    3500 non-null   uint8
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
 10  gender   3500 non-null   int64
dtypes: float64(3), int64(6), uint8(2)
memory usage: 440.3 KB

In [131]:
import numpy as np
# 이상치 제거 함수 
def outlier_rm(data):
     q1, q3 = np.percentile(data, [25, 75])
     iqr = q3 - q1
     lowbound = q1 - iqr * 1.5
     highbound = q3 + iqr * 1.5
    
     return np.where((data > highbound) | (data < lowbound))
#    Q1 = data.describe()['25%']
#    Q3 = data.describe()['75%']
#    IQR = Q3 - Q1
#    lowbound = Q1 - IQR * 1.5
#    highbound = Q3 + IQR * 1.5
    
#    return lowbound, highbound

In [136]:
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE

# 학습데이터 전처리 함수
def prepro(df):
    # 원핫인코딩
    df_ohe = pd.get_dummies(df, columns=['주구매상품', '주구매지점'])
    
    X = df_ohe.drop(['cust_id', 'gender'], axis=1)
    y = df_ohe['gender']
    
    # 오버샘플링 - smote의 resample()은 독립이 연속, 종속이 분류일때 사용 - 왜인지 사이킷런과 imbalanced 버전이 안맞음
#     smote = SMOTE(random_state=0)
#     X, y = smote.fit_resample(df[['총구매액', '최대구매액', '환불금액', '내점일수', '내점당구매건수',
#                                         '주말방문비율', '구매주기']], df['gender'])
#     df2 = pd.DataFrame(X, columns=['총구매액', '최대구매액', '환불금액', '내점일수', '내점당구매건수',
#                              '주말방문비율', '구매주기'])
#     df2['cust_id'] = df['cust_id']
#     df2.merge(df[['주구매상품', '주구매지점']])
#     df2['gender'] = y
#     smote = SMOTE(random_state=0)
#     X, y = smote.fit_sample(X, y)
    
    # 연속형변수 이상치 제거 
    rm_list = ['총구매액', '최대구매액', '환불금액', '내점일수', '내점당구매건수', '주말방문비율', '구매주기']
    for rm in rm_list:
        mean = X[rm].mean()
        print('mean : ', mean)
        X.replace(outlier_rm(X[rm]), mean)
    
    # 정규화 
    scaler = StandardScaler()
    X = scaler.fit_transform(X)
    
    return X, y

In [137]:
X_train, y_train = prepro(trainDF)

mean :  91919251.79714286
mean :  19664241.78
mean :  8289785.791428572
mean :  19.253714285714285
mean :  2.8349631428882844
mean :  0.30724631601826435
mean :  20.958285714285715

In [141]:
X_train

array([[-0.14458009, -0.26260786, -0.04750476, ...,  0.42992339,
        -4.81019033,  4.81019033],
       [-0.54918957, -0.54796686, -0.26546133, ...,  0.42992339,
         0.20789198, -0.20789198],
       [-0.5426996 , -0.56350404, -0.27542885, ...,  0.42992339,
         0.20789198, -0.20789198],
       ...,
       [-0.56179637, -0.61239772, -0.27542885, ...,  0.42992339,
         0.20789198, -0.20789198],
       [-0.55078606, -0.58348042, -0.27542885, ...,  0.42992339,
         0.20789198, -0.20789198],
       [ 1.04709431,  0.46792117, -0.07697541, ...,  0.42992339,
         0.20789198, -0.20789198]])

In [138]:
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE

# 테스트 데이터도 전처리 함수
def prepro_test(df):
    # 원핫인코딩
    df_ohe = pd.get_dummies(df, columns=['주구매상품', '주구매지점'])
    
    # 연속형변수 이상치 제거 
    rm_list = ['총구매액', '최대구매액', '환불금액', '내점일수', '내점당구매건수', '주말방문비율', '구매주기']
    for rm in rm_list:
        mean = df_ohe[rm].mean()
        print('mean : ', mean)
        df_ohe.replace(outlier_rm(df_ohe[rm]), mean)
    
    # 정규화 
    scaler = StandardScaler()
    df_ohe = scaler.fit_transform(df_ohe)
    
    return df_ohe

In [139]:
X_test = prepro_test(X_test)

Exception: Data must be 1-dimensional

In [111]:
# 랜덤포레스트 이용 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

# 반환된 값을 가지고 학습, 예측, 평가
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

rf_clf = RandomForestClassifier()
rf_clf.fit(X_train, y_train)
pred = rf_clf.predict(X_test)

print('accuracy_score : {:0.3f}'.format(accuracy_score(y_test, pred)))
print('roc_auc_score : {:0.3f}'.format(roc_auc_score(y_test, pred)))

accuracy_score : 0.659
roc_auc_score : 0.592

In [125]:
# csv에 저장 
print(pd.DataFrame(pred.reshape(-1, 1)))

     0
0    0
1    1
2    0
3    0
4    0
..  ..
695  0
696  0
697  0
698  0
699  0

[700 rows x 1 columns]

In [128]:
print(type(X_test))

<class 'numpy.ndarray'>

In [112]:
# XGBoost 이용 
from xgboost import XGBClassifier

xgb = XGBClassifier(n_estimators=100, learning_rate=0.1, max_depth=3)
xgb.fit(X_train, y_train)
pred = xgb.predict(X_test)
print('accuracy_score : {:0.3f}'.format(accuracy_score(y_test, pred)))
print('roc_auc_score : {:0.3f}'.format(roc_auc_score(y_test, pred)))

[23:45:15] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
accuracy_score : 0.634
roc_auc_score : 0.559

/usr/local/lib/python3.8/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

In [99]:
# GridSearchCV 이용
from sklearn.model_selection import GridSearchCV

params = {
    'n_estimators':[100],
    'max_depth' : [6, 8, 10, 12],
    'min_samples_leaf' : [8, 12, 18],
    'min_samples_split' : [8, 16, 20]
}

rf_clf = RandomForestClassifier()
gridCV = GridSearchCV(rf_clf, param_grid = params, cv=3)
gridCV.fit(X_train, y_train)

print('최고 예측 정확도 : {0:.4f}'.format(gridCV.best_score_))
print('roc_auc_score : {:0.3f}'.format(roc_auc_score(y_test, pred)))

최고 예측 정확도 : 0.6329
roc_auc_score : 0.559

In [101]:
# 로지스틱 회귀 이용 
from sklearn.linear_model import LogisticRegression

lg_clf = LogisticRegression()
lg_clf.fit(X_train, y_train)
pred = lg_clf.predict(X_test)

print('accuracy_score : {:0.3f}'.format(accuracy_score(y_test, pred)))
print('roc_auc_score : {:0.3f}'.format(roc_auc_score(y_test, pred)))

accuracy_score : 0.650
roc_auc_score : 0.530

In [ ]:
# 결론 : 딱히 성능의 큰 차이가 없네.... 만만한 랜덤포레스트로...

## 풀이

In [193]:
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/y_train.csv')
X_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/X_train.csv',encoding='euc-kr')
test  = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/X_test.csv',encoding='euc-kr')

In [194]:
trainDf = pd.merge(y_train,X_train)

In [195]:
trainDf['환불금액'] =trainDf['환불금액'].fillna(0)
test['환불금액'] = test['환불금액'].fillna(0)

In [196]:
x = trainDf.drop(['cust_id','gender'],axis=1)
y = trainDf.gender

In [214]:
y.value_counts()

0    2184
1    1316
Name: gender, dtype: int64

In [197]:
# pd.get_dummies : 알아서 범주형 변수만 변환 
x_dum = pd.get_dummies(x)
feature_name_lst= x_dum.columns

In [198]:
test_dum = pd.get_dummies(test)

missing_cols = set( x_dum.columns ) - set( test_dum.columns )
for c in missing_cols:
    test_dum[c] = 0
test_dum = test_dum[x_dum.columns]

In [199]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(x_dum)
x_dum = sc.transform(x_dum)
test_dum = sc.transform(test_dum)

In [200]:
print(x_dum)

[[-0.14458009 -0.26260786 -0.04750476 ... -0.0338255  -0.15871482
  -0.0561495 ]
 [-0.54918957 -0.54796686 -0.26546133 ... -0.0338255  -0.15871482
  -0.0561495 ]
 [-0.5426996  -0.56350404 -0.27542885 ... -0.0338255  -0.15871482
  -0.0561495 ]
 ...
 [-0.56179637 -0.61239772 -0.27542885 ... 29.563491   -0.15871482
  -0.0561495 ]
 [-0.55078606 -0.58348042 -0.27542885 ... -0.0338255  -0.15871482
  -0.0561495 ]
 [ 1.04709431  0.46792117 -0.07697541 ... -0.0338255  -0.15871482
  -0.0561495 ]]

In [210]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(max_depth=5, random_state=0)
clf.fit(x_dum, y)

RandomForestClassifier(max_depth=5, random_state=0)

In [211]:
from sklearn.metrics import classification_report

y_pred = clf.predict_proba(test_dum)

In [203]:
print(test_dum)

[[-0.1285689   0.07302034 -0.14086725 ... -0.0338255  -0.15871482
  -0.0561495 ]
 [ 1.3372254   0.59065555  1.32052823 ... -0.0338255  -0.15871482
  -0.0561495 ]
 [ 1.30499603 -0.15128409  0.73863402 ... -0.0338255  -0.15871482
  -0.0561495 ]
 ...
 [ 1.02814582  0.19025261 -0.27542885 ... -0.0338255  -0.15871482
  -0.0561495 ]
 [-0.01790846 -0.048276   -0.27542885 ... -0.0338255  -0.15871482
  -0.0561495 ]
 [-0.55844006 -0.60820862 -0.27542885 ... -0.0338255  -0.15871482
  -0.0561495 ]]

In [217]:
print(y_pred[:,1])

[0.39798419 0.21423117 0.25105012 ... 0.42142924 0.40184614 0.48939921]

In [213]:
cnt = 0
for i in y_pred[:, 1]:
    if i > 0.5:
        print(i)
        cnt += 1
print(cnt)

0.5489303205686591
0.5171569463108995
0.5078416730952259
0.517801972691844
0.5196747419730946
0.5145314401943408
0.513219025758145
0.5177477160834166
0.5196996529082272
0.5016588599102696
0.5305457372737842
0.5279353083343457
0.5255930932394353
0.5339699042221951
0.5296733739124091
0.5095876045248986
0.5320084613821647
0.5439638992456588
0.5048101434381952
0.5368261548543529
0.5130432348096583
0.5527691543304514
0.5256828961697245
0.5533670495164781
0.5186297910615472
0.5152229941976157
0.5745908899223581
0.5058283365308274
0.521213544350059
0.520949843742991
0.5143844541797438
0.5309561744451803
0.5095361555022481
0.528668272676018
0.5142171152359144
0.5149318443571338
0.5074299420157602
0.5156976038663711
0.5530899870379301
0.5165826963911684
0.5500576629393733
0.5157995206015356
0.5441852952641102
0.5127735781482309
0.5051004177340307
0.5052268829716009
0.5216065374848272
0.5137731544873662
0.5209817636420881
0.5105549125957071
0.557976750879403
0.5554985398907563
0.5395533224622351
0.5351083778145382
0.531979262618584
0.5184784399348472
0.5112640915304089
0.5232399478761903
0.516456544972312
0.527519818881024
0.5120067333534268
0.5016081958322567
0.50307444746624
0.5009839445282618
0.5612865904724448
0.5139655266747458
0.5043228824120749
0.5243464086273072
0.5137060389306605
0.5568169873565729
0.5361727302610766
0.5357692327463213
0.5262422670220362
0.5673585513975513
0.5261915744433449
0.5114396092251596
0.524629301619507
0.5229974952517842
0.5861995229839009
0.5237490334914733
0.5196029338635856
0.5197238990026967
0.5136289184569541
0.5132729736843933
0.5182591897028677
0.5098982733002883
0.516585930086755
0.5669352464496658
0.5393700759129227
0.5056041627857549
0.5865731278115388
0.58485451932772
0.5098994874482587
0.5197332288682693
0.5229662138828473
0.5240392086229109
0.5272081249600391
0.5330611625428707
0.5018636627023221
0.5091673243358749
0.5217560752662211
0.5190107243926686
0.5666290035179571
0.5272203498197435
0.5069451080094644
0.5036783248124123
0.5272740456154691
0.529660568189802
0.5090527359665586
0.5278260439596307
0.6050523538960253
0.5466442797344334
0.5394141615250502
0.5149768585286245
0.5514438822337154
0.5062932437363645
0.5492080766623706
0.5161727650282427
0.5139083118623043
0.5267004485138483
0.5206459558851041
0.5163325419955082
0.5021482806612234
0.5076691897272769
0.5135179381418353
0.5564207720524825
0.5152592325530094
0.5061172144991174
0.5119639969111691
0.510898305051966
0.5154897780864716
0.5144704443295505
0.5639460193691174
0.5009156794443246
0.5154231604220745
0.5112903299790272
0.5062263720978065
0.5106987807816872
0.5350353827343932
0.5119157400785581
0.5102260416786908
0.6017615992536473
0.5300789193222054
0.5471003000135425
0.581886938275249
0.5210886340817564
0.5140074087603993
0.508748725237377
0.5125534170720256
0.5412849310568303
0.5418637458970418
0.5267588828395445
0.5404684987844395
0.5124589429820807
0.5060774165633393
0.5541926723353402
0.5035172225675132
0.6030093472573871
0.502954770157745
0.5037379664893911
0.5022989742412471
0.5032986857378271
0.5043812231367862
0.5125443363677336
0.5060295438853333
0.5114242078301632
0.5554985398907563
0.567500221562802
0.5132199757413215
0.5167422344359124
0.5006750622452412
0.567500221562802
0.5143865824110864
0.5666290035179571
0.5335246558920925
0.5265406774775727
0.5131195797880664
0.5372531799506991
0.5103791457006104
0.5259443827826312
0.5242058882827538
0.5371000946618095
0.5323273019961248
0.5137823748322367
0.5125106613608917
0.5562900360798693
0.5087056299613676
0.5480466754990523
0.5277962297590555
0.5152229941976157
0.5182408147850248
0.5609526748018113
0.5184984709774034
0.511694816158321
0.5228385507348652
0.5221583492355119
0.5265034100020771
0.5675532746084765
0.5043312081124474
0.5009612798931136
0.5099758805841276
0.5774814486197923
0.5023021423115595
0.5218832289416295
0.5038633167210148
0.5034934665290537
0.5120530031212244
0.5038739882775903
0.524370904807417
0.5122097864162305
0.5233583696129961
0.5058092781912358
0.5212211382314631
0.5995189549644772
0.5273834855090579
0.5291411319115457
0.5382024859918698
0.5056351572567427
0.5303499869443979
0.5330133878590585
0.5355302669184643
0.5260375714740837
0.5336370233284504
0.5234505014296077
0.531979262618584
0.518280777135612
0.5085725914147525
0.5193377156352977
0.5161924638644015
0.5235299763549164
0.5172341009730315
0.5197238990026967
0.528650946920058
0.5189633571765492
0.5336424672500438
0.500137790360682
0.5107485936522546
0.5338173551614859
0.5025019280368115
0.5362357051638528
0.5575321022062701
0.5061532280865313
0.5114163627068864
0.518944306233666
0.5136762685342248
0.5131544797559866
0.5014941094518792
0.5363595652112655
0.5271373974533637
0.5190107243926686
0.5499332711922413
0.5157229006789913
0.5540613845608754
0.510898305051966
0.5535484825949017
0.5189442040033877
0.5140450744328661
0.5089196620283027
0.5125443363677336
0.5039779615741032
0.5569557892345918
0.5150529977941063
0.5953480445313878
0.558386823377836
0.5254509404972576
0.5480978932177049
0.5522032971437771
0.5526038939484232
0.5023425454230064
0.5038152458283156
0.5303271004039659
0.5063359337381086
0.5112988533563928
0.5013986102788782
0.5382696323891383
0.5064083118623044
0.5036027371272113
0.5252229332651152
0.5106419718661516
0.5051386560169879
0.5045128002859748
0.5072599795173393
0.5219335461626524
0.5101869152452649
0.5206730994897856
0.5083005304810277
0.5469042227687629
0.5030360717308252
0.5210886340817564
0.5625369711468017
0.5206730994897856
0.5419010182162051
0.5390871168563212
0.5501789253661533
0.5123611120833534
0.52131267437123
0.5779665374741205
0.5387716224527462
0.5072961655680214
0.5152701913240842
0.523696921035523
0.5352664074096164
0.5095836110933226
0.5441852952641102
0.5253227444518498
0.5429342563631676
0.5462296625019171
0.5458501440694977
0.5009121848898574
0.51350441215287
0.5330196281382927
0.5014492933830581
0.5143345508349251
0.5001253434573593
0.5154098992910392
0.514151991830191
0.6165316077633312
0.5552260195843971
0.5001869566445939
0.5190709609684796
0.5137731544873662
0.529370904807417
0.5379797241900611
0.5226771805677023
0.5212903849148967
0.5591570278851533
0.5414333918480276
0.5719880175470067
0.5230906849665535
0.5027978756578435
0.5210594053832931
0.5110045858143956
0.5360132953623128
0.5014098096554814
0.5156491855988051
0.5771785413257612
0.5476680512066406
0.5255238767320382
0.5439246328718346
0.5238312065069008
0.5505736224586846
0.521903358660811
342

In [218]:
# 실제 예제는 y_test가 없고 예측값을 csv로 저장하게 되있음 
# concat을 하려면 input들이 모두 Series or DF여야함 
test_gender = pd.Series(y_pred[:, 1])

In [219]:
results = pd.concat([test.cust_id, test_gender], axis=1)

In [220]:
results

      cust_id         0
0        3500  0.397984
1        3501  0.214231
2        3502  0.251050
3        3503  0.439549
4        3504  0.471729
...       ...       ...
2477     5977  0.447329
2478     5978  0.521903
2479     5979  0.421429
2480     5980  0.401846
2481     5981  0.489399

[2482 rows x 2 columns]

In [185]:
results.to_csv("practice_no2.csv", index=False)

In [ ]:
from sklearn.metrics import roc_auc_score, roc_curve

lr_probs = clf.predict_proba(X_test)
lr_auc = roc_auc_score(y_test, lr_probs[:,1])
lr_auc