# 빅분기 재도전-고객이탈 여부

In [1]:
import pandas as pd
x_test = pd.read_csv('archive/classification1/X_test.csv')
x_train = pd.read_csv('archive/classification1/X_train.csv')
y_train = pd.read_csv('archive/classification1/Y_train.csv')

In [3]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       6499 non-null   int64
 1   Surname          6499 non-null   object
 2   CreditScore      6499 non-null   int64
 3   Geography        6499 non-null   object
 4   Gender           6499 non-null   object
 5   Age              6499 non-null   int64
 6   Tenure           6499 non-null   int64
 7   Balance          6499 non-null   float64
 8   NumOfProducts    6499 non-null   int64
 9   HasCrCard        6499 non-null   int64
 10  IsActiveMember   6499 non-null   int64
 11  EstimatedSalary  6499 non-null   float64
dtypes: float64(2), int64(7), object(3)
memory usage: 609.4+ KB

In [18]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3501 entries, 0 to 3500
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       3501 non-null   int64
 1   Surname          3501 non-null   object
 2   CreditScore      3501 non-null   int64
 3   Geography        3501 non-null   object
 4   Gender           3501 non-null   object
 5   Age              3501 non-null   int64
 6   Tenure           3501 non-null   int64
 7   Balance          3501 non-null   float64
 8   NumOfProducts    3501 non-null   int64
 9   HasCrCard        3501 non-null   int64
 10  IsActiveMember   3501 non-null   int64
 11  EstimatedSalary  3501 non-null   float64
dtypes: float64(2), int64(7), object(3)
memory usage: 328.3+ KB

In [4]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerId  6499 non-null   int64
 1   Exited      6499 non-null   int64
dtypes: int64(2)
memory usage: 101.7 KB

In [23]:
# 결측값이 없음. 원핫인코딩 수행 
x_train_drop = x_train.drop(['CustomerId', 'Surname'], axis=1)
x_test_drop = x_test.drop(['CustomerId', 'Surname'], axis=1)

x_train_dummies = pd.get_dummies(x_train_drop)
x_test_dummies = pd.get_dummies(x_test_drop)

In [10]:
# 시험장에서 문법이나 함수가 기억이 안날때 
# help(pd.DataFrame.drop)

In [25]:
x_train_dummies.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_ male,Gender_Female,Gender_Male,Gender_female
0,791,35,7,52436.20,1,1,0,161051.75,0,1,0,0,1,0,0
1,705,42,8,166685.92,2,1,1,55313.51,0,1,0,0,0,1,0
2,543,31,4,138317.94,1,0,0,61843.73,1,0,0,0,1,0,0
3,709,32,2,0.00,2,0,0,109681.29,1,0,0,0,1,0,0
4,714,36,1,101609.01,2,1,1,447.73,0,1,0,0,1,0,0

In [26]:
x_train_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        6499 non-null   int64
 1   Age                6499 non-null   int64
 2   Tenure             6499 non-null   int64
 3   Balance            6499 non-null   float64
 4   NumOfProducts      6499 non-null   int64
 5   HasCrCard          6499 non-null   int64
 6   IsActiveMember     6499 non-null   int64
 7   EstimatedSalary    6499 non-null   float64
 8   Geography_France   6499 non-null   uint8
 9   Geography_Germany  6499 non-null   uint8
 10  Geography_Spain    6499 non-null   uint8
 11  Gender_ male       6499 non-null   uint8
 12  Gender_Female      6499 non-null   uint8
 13  Gender_Male        6499 non-null   uint8
 14  Gender_female      6499 non-null   uint8
dtypes: float64(2), int64(6), uint8(7)
memory usage: 450.7 KB

In [27]:
x_test_dummies.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_ male,Gender_Female,Gender_Male,Gender_female
0,802,60,3,92887.06,1,1,0,39473.63,1,0,0,0,1,0,0
1,602,56,3,115895.22,3,1,0,4176.17,1,0,0,0,1,0,0
2,801,32,4,75170.54,1,1,1,37898.50,1,0,0,0,1,0,0
3,693,34,10,107556.06,2,0,0,154631.35,0,0,1,0,1,0,0
4,592,62,5,0.00,1,1,1,100941.57,1,0,0,0,1,0,0

In [28]:
x_test_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3501 entries, 0 to 3500
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        3501 non-null   int64
 1   Age                3501 non-null   int64
 2   Tenure             3501 non-null   int64
 3   Balance            3501 non-null   float64
 4   NumOfProducts      3501 non-null   int64
 5   HasCrCard          3501 non-null   int64
 6   IsActiveMember     3501 non-null   int64
 7   EstimatedSalary    3501 non-null   float64
 8   Geography_France   3501 non-null   uint8
 9   Geography_Germany  3501 non-null   uint8
 10  Geography_Spain    3501 non-null   uint8
 11  Gender_ male       3501 non-null   uint8
 12  Gender_Female      3501 non-null   uint8
 13  Gender_Male        3501 non-null   uint8
 14  Gender_female      3501 non-null   uint8
dtypes: float64(2), int64(6), uint8(7)
memory usage: 242.9 KB

In [29]:
# 스케일링 수행 
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
sc.fit(x_train_dummies)
x_train_scaled = sc.transform(x_train_dummies)
x_test_scaled = sc.transform(x_test_dummies)

In [15]:
# y 값 튜닝 
y_train_drop = y_train.drop(['CustomerId'], axis=1)

In [30]:
# 모델 만들기
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

rf_clf = RandomForestClassifier(max_depth=5, random_state=0)

# 정확도 측정을 위해 x_train을 가지고 학습, 예측 데이터 분리해보자. 
X_train_prc, X_test_prc, y_train_prc, y_test_prc = train_test_split(x_train_scaled, y_train_drop,
                                                                   test_size=0.2, random_state=156)
rf_clf.fit(X_train_prc, y_train_prc)
pred = rf_clf.predict(X_test_prc)
print('정확도 : {0:.4f}'.format(accuracy_score(y_test_prc, pred)))

<ipython-input-30-ea2c708af20c>:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_clf.fit(X_train_prc, y_train_prc)

정확도 : 0.8462

In [31]:
# 다시 x_train_scaled를 가지고 빅분기 폼에 맞게 풀자.
rf_clf.fit(x_train_scaled, y_train_drop)
pred = rf_clf.predict_proba(x_test_scaled)
pred

<ipython-input-31-8368435921de>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_clf.fit(x_train_scaled, y_train_drop)

array([[0.50664348, 0.49335652],
       [0.2946848 , 0.7053152 ],
       [0.87389579, 0.12610421],
       ...,
       [0.49117917, 0.50882083],
       [0.8878581 , 0.1121419 ],
       [0.90827745, 0.09172255]])

In [32]:
y_test = pd.Series(pred[:, 1])
result = pd.concat([x_test.CustomerId, y_test], axis=1)

In [33]:
result

      CustomerId         0
0       15601012  0.493357
1       15734762  0.705315
2       15586757  0.126104
3       15590888  0.156400
4       15726087  0.309410
...          ...       ...
3496    15733966  0.472742
3497    15669994  0.208875
3498    15712403  0.508821
3499    15643819  0.112142
3500    15644962  0.091723

[3501 rows x 2 columns]

In [34]:
result.columns = ['CustomerId', 'exited']
result.to_csv('archive/classification1/clf1_result.csv')