# 빅분기 재도전-작업형 제1유형 예시문제
## dataq 예제문제

Q1. mtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 최소 최대 척도(min-max scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 구하시오.

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/mtcars.csv',index_col=0)

In [3]:
df.head(10)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [7]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
scaled_df = sc.fit_transform(df) # fit_transform을 쓰면서 ndarray 형으로 변환됨

In [9]:
scaled_df[:, 6] # 여섯번째 열이 qsec 열

array([0.23333333, 0.3       , 0.48928571, 0.58809524, 0.3       ,
       0.68095238, 0.15952381, 0.6547619 , 1.        , 0.45238095,
       0.52380952, 0.3452381 , 0.36904762, 0.41666667, 0.41428571,
       0.3952381 , 0.34761905, 0.59166667, 0.47857143, 0.64285714,
       0.65595238, 0.28214286, 0.33333333, 0.10833333, 0.30357143,
       0.52380952, 0.26190476, 0.28571429, 0.        , 0.11904762,
       0.01190476, 0.48809524])

In [10]:
overNum = len(scaled_df[scaled_df[:, 6] > 0.5])

In [11]:
overNum

9

Q2. mtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 표준정규분포 데이터 표준화 (standardization) 변환 후 최대, 최소값을 각각 구하시오.

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
scaled_df = sc.fit_transform(df)

In [13]:
scaled_df[:, 6]

array([-0.78960058, -0.47120178,  0.43282336,  0.90473586, -0.47120178,
        1.34821989, -1.14211353,  1.22313465,  2.87198554,  0.25656688,
        0.59770845, -0.25514546, -0.14143161,  0.0859961 ,  0.07462472,
       -0.01634637, -0.24377408,  0.92179293,  0.38165212,  1.16627772,
        1.22882034, -0.55648718, -0.31200239, -1.38659831, -0.45414471,
        0.59770845, -0.65314395, -0.5394301 , -1.90399635, -1.33542708,
       -1.84713942,  0.42713767])

In [14]:
Min = min(scaled_df[:, 6])
Max = max(scaled_df[:, 6])
print(Min, Max)

-1.9039963517625231 2.8719855384368587

Q3. *mtcars 데이터셋(mtcars.csv)의 wt 컬럼의 이상치(IQR 1.5 외부에 존재하는)값들을 outlier 변수에 저장하라

In [16]:
df['wt'].describe()

count    32.000000
mean      3.217250
std       0.978457
min       1.513000
25%       2.581250
50%       3.325000
75%       3.610000
max       5.424000
Name: wt, dtype: float64

In [23]:
iqr = df['wt'].describe()['75%'] - df['wt'].describe()['25%']

In [25]:
min_iqr = df['wt'] < df['wt'].describe()['25%'] - 1.5*iqr 
max_iqr = df['wt'] > df['wt'].describe()['75%'] + 1.5*iqr

In [30]:
outlier = df.wt[max_iqr | min_iqr]

In [34]:
outlier

Cadillac Fleetwood     5.250
Lincoln Continental    5.424
Chrysler Imperial      5.345
Name: wt, dtype: float64

Q4. mtcars 데이터셋에서 mpg변수와 나머지 변수들의 상관계수를 구하여 다음과 같이 내림차순 정렬하여 표현하라

In [35]:
# sort_values('') : '' 기준으로 오름차순 (false일 경우 내림차순)
# [1:] : mpg 칼럼 본인은 제외 (0번째 행)
cor = df.corr()[['mpg']][1:].sort_values('mpg', ascending=False)

In [36]:
cor

           mpg
drat  0.681172
vs    0.664039
am    0.599832
gear  0.480285
qsec  0.418684
carb -0.550925
hp   -0.776168
disp -0.847551
cyl  -0.852162
wt   -0.867659

Q6. mtcars 의 index는 (업체명) - (모델명)으로 구성된다. (valiant는 업체명) mtcars에 ‘brand’ 컬럼을 추가하고 value 값으로 업체명을 입력하라

In [51]:
# split으로 ndarray로 변환 -> 2차원 list로 변환 -> dataframe으로 변환 -> 그것의 0번째 인덱스의 value가 브랜드 
df['brand'] = pd.DataFrame(list(df.index.str.split(' ')))[0].values

In [52]:
df['brand']

Mazda RX4                 Mazda
Mazda RX4 Wag             Mazda
Datsun 710               Datsun
Hornet 4 Drive           Hornet
Hornet Sportabout        Hornet
Valiant                 Valiant
Duster 360               Duster
Merc 240D                  Merc
Merc 230                   Merc
Merc 280                   Merc
Merc 280C                  Merc
Merc 450SE                 Merc
Merc 450SL                 Merc
Merc 450SLC                Merc
Cadillac Fleetwood     Cadillac
Lincoln Continental     Lincoln
Chrysler Imperial      Chrysler
Fiat 128                   Fiat
Honda Civic               Honda
Toyota Corolla           Toyota
Toyota Corona            Toyota
Dodge Challenger          Dodge
AMC Javelin                 AMC
Camaro Z28               Camaro
Pontiac Firebird        Pontiac
Fiat X1-9                  Fiat
Porsche 914-2           Porsche
Lotus Europa              Lotus
Ford Pantera L             Ford
Ferrari Dino            Ferrari
Maserati Bora          Maserati
Volvo 142E                Volvo
Name: brand, dtype: object

## 다이아몬드 데이터셋

Q4. 연속형 변수(carat,depth,table,price,x,y,z) 각각의 이상치(1,3분위값에서 IQR*1.5 외의 값) 갯수를 데이터 프레임(변수명 ratio_df, 비율의 내림차순 정렬)으로 아래와 같이 나타내어라.

In [53]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/diamonds.csv',index_col=0)

In [54]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [74]:
col = ['carat', 'depth', 'table', 'price', 'x', 'y', 'z']
raw_data = {'column' : col,
           'ratio' : 0}
ratio_df = pd.DataFrame(raw_data)

for c in col:
    iqr = df[c].describe()['75%'] - df[c].describe()['25%']
    min_iqr = df[c] < df[c].describe()['25%'] - 1.5 * iqr
    max_iqr = df[c] > df[c].describe()['75%'] + 1.5 * iqr
    ratio_df.ratio[ratio_df['column'] == c] = len(df[c][min_iqr | max_iqr])

<ipython-input-74-c5374226c4cb>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratio_df.ratio[ratio_df['column'] == c] = len(df[c][min_iqr | max_iqr])
<ipython-input-74-c5374226c4cb>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratio_df.ratio[ratio_df['column'] == c] = len(df[c][min_iqr | max_iqr])
<ipython-input-74-c5374226c4cb>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratio_df.ratio[ratio_df['column'] == c] = len(df[c][min_iqr | max_iqr])
<ipython-input-74-c5374226c4cb>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratio_df.ratio[ratio_df['column'] == c] = len(df[c][min_iqr | max_iqr])
<ipython-input-74-c5374226c4cb>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratio_df.ratio[ratio_df['column'] == c] = len(df[c][min_iqr | max_iqr])
<ipython-input-74-c5374226c4cb>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratio_df.ratio[ratio_df['column'] == c] = len(df[c][min_iqr | max_iqr])
<ipython-input-74-c5374226c4cb>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratio_df.ratio[ratio_df['column'] == c] = len(df[c][min_iqr | max_iqr])

In [75]:
ratio_df = ratio_df.sort_values('ratio', ascending=False)

In [76]:
ratio_df

  column  ratio
3  price   3540
1  depth   2545
0  carat   1889
2  table    605
6      z     49
4      x     32
5      y     29