# 작업형 제 2유형 예시문제
참조 사이트 : https://www.datamanim.com/dataset/03_dataq/main_p2.html <br>

In [1]:
#그래프 한글띄우기
import pandas as pd
import matplotlib.pyplot as plt
import platform
if platform.system() == 'Darwin': 
        plt.rc('font', family='AppleGothic') 
elif platform.system() == 'Windows': 
        plt.rc('font', family='Malgun Gothic') 
elif platform.system() == 'Linux': 
        plt.rc('font', family='Malgun Gothic') 
plt.rcParams['axes.unicode_minus'] = False

In [14]:
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/y_train.csv')
X_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/X_train.csv',encoding='euc-kr')
test  = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/X_test.csv',encoding='euc-kr')

## Q1
y_train,X_train데이터를 합쳐 trainDf 변수에 저장하라<br>
<b>나의 풀이</b>

In [15]:
trainDF = X_train.merge(y_train)

In [5]:
trainDF.head(3)

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,gender
0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17,0
1,1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1,0
2,2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1,1

<b>해답</b>

In [ ]:
trainDf = pd.merge(y_train,X_train)

## Q2
trainDf와 X_test의 결측치가 있는 컬럼의 숫자 및 결측치 숫자를 파악하고 결측치처리 방식에 대해 생각해보자<br>
<b>나의 풀이</b>

In [6]:
trainDF.info()
# 환불금액에 결측치 존재

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3500 entries, 0 to 3499
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
 10  gender   3500 non-null   int64
dtypes: float64(3), int64(6), object(2)
memory usage: 328.1+ KB

In [7]:
test.info()
# 환불금액에 결측치 존재

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2482 entries, 0 to 2481
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  2482 non-null   int64
 1   총구매액     2482 non-null   int64
 2   최대구매액    2482 non-null   int64
 3   환불금액     871 non-null    float64
 4   주구매상품    2482 non-null   object
 5   주구매지점    2482 non-null   object
 6   내점일수     2482 non-null   int64
 7   내점당구매건수  2482 non-null   float64
 8   주말방문비율   2482 non-null   float64
 9   구매주기     2482 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 194.0+ KB

In [8]:
trainDF.describe()

,cust_id,총구매액,최대구매액,환불금액,내점일수,내점당구매건수,주말방문비율,구매주기,gender
count,3500.000000,3.500000e+03,3.500000e+03,1.205000e+03,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000
mean,1749.500000,9.191925e+07,1.966424e+07,2.407822e+07,19.253714,2.834963,0.307246,20.958286,0.376000
std,1010.507298,1.635065e+08,3.199235e+07,4.746453e+07,27.174942,1.912368,0.289752,24.748682,0.484449
min,0.000000,-5.242152e+07,-2.992000e+06,5.600000e+03,1.000000,1.000000,0.000000,0.000000,0.000000
25%,874.750000,4.747050e+06,2.875000e+06,2.259000e+06,2.000000,1.666667,0.027291,4.000000,0.000000
50%,1749.500000,2.822270e+07,9.837000e+06,7.392000e+06,8.000000,2.333333,0.256410,13.000000,0.000000
75%,2624.250000,1.065079e+08,2.296250e+07,2.412000e+07,25.000000,3.375000,0.448980,28.000000,1.000000
max,3499.000000,2.323180e+09,7.066290e+08,5.637530e+08,285.000000,22.083333,1.000000,166.000000,1.000000

In [10]:
# 환불금액의 결측치는 평균으로 대체하면 될 듯. 
trainDF['환불금액'].fillna(trainDF['환불금액'].mean(), inplace=True)

In [11]:
trainDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3500 entries, 0 to 3499
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     3500 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
 10  gender   3500 non-null   int64
dtypes: float64(3), int64(6), object(2)
memory usage: 328.1+ KB

In [12]:
test['환불금액'].fillna(test['환불금액'].mean(), inplace=True)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2482 entries, 0 to 2481
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  2482 non-null   int64
 1   총구매액     2482 non-null   int64
 2   최대구매액    2482 non-null   int64
 3   환불금액     2482 non-null   float64
 4   주구매상품    2482 non-null   object
 5   주구매지점    2482 non-null   object
 6   내점일수     2482 non-null   int64
 7   내점당구매건수  2482 non-null   float64
 8   주말방문비율   2482 non-null   float64
 9   구매주기     2482 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 194.0+ KB

<b>해답</b><br>
환블금액의 경우 최솟값이 0이 아니기에, Nan은 결측치가 아닌 환불을 하지않은 경우(0원)로 판단 할수 있다. nan은 0으로 채운다

In [16]:
trainDF['환불금액'] =trainDF['환불금액'].fillna(0)
test['환불금액'] = test['환불금액'].fillna(0)

## Q3
범주형 변수의 유일값과 유일값의 갯수를 파악하라<br>
<b>나의 풀이</b>

In [22]:
# 범주형 변수 : 주구매상품, 주구매지점
main_prod = trainDF['주구매상품'].value_counts()
main_prod_cnt = main_prod.count()

In [29]:
print('주구매상품 유일값 리스트 : ', main_prod.index)
print('주구매상품 유일값 수 : ', main_prod_cnt)

주구매상품 유일값 리스트 :  Index(['기타', '가공식품', '농산물', '화장품', '시티웨어', '디자이너', '수산품', '캐주얼', '명품', '섬유잡화',
       '골프', '스포츠', '일용잡화', '모피/피혁', '육류', '남성 캐주얼', '구두', '건강식품', '차/커피',
       '피혁잡화', '아동', '축산가공', '주방용품', '셔츠', '젓갈/반찬', '주방가전', '트래디셔널', '남성정장',
       '생활잡화', '주류', '가구', '커리어', '대형가전', '란제리/내의', '식기', '액세서리', '침구/수예',
       '통신/컴퓨터', '보석', '남성 트랜디', '악기', '소형가전'],
      dtype='object')
주구매상품 유일값 수 :  42

In [30]:
main_place = trainDF['주구매지점'].value_counts()
main_place_cnt = main_place.count()

In [31]:
print('주구매지점 유일값 리스트 : ', main_place.index)
print('주구매지점 유일값 수 : ', main_place_cnt)

주구매지점 유일값 리스트 :  Index(['본  점', '잠실점', '분당점', '부산본점', '영등포점', '일산점', '강남점', '광주점', '노원점',
       '청량리점', '대전점', '미아점', '부평점', '동래점', '관악점', '인천점', '안양점', '포항점', '대구점',
       '센텀시티점', '울산점', '전주점', '창원점', '상인점'],
      dtype='object')
주구매지점 유일값 수 :  24

## Q5
데이터 정규화 및 one-hot-encoding ,홀드아웃기법, smote방식의 오버샘플링과 랜덤포레스트 모델 학습 및 테스트셋 auc값추출<br>
<b>나의 풀이</b>

In [32]:
trainDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3500 entries, 0 to 3499
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     3500 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
 10  gender   3500 non-null   int64
dtypes: float64(3), int64(6), object(2)
memory usage: 328.1+ KB

In [34]:
trainDF.gender.value_counts()
# 0(여자)이 훨씬 많음 => smote 오버샘플링 필요
# one-hot-encoding은 string형인 주구매상품, 주구매지점에 필요할듯

0    2184
1    1316
Name: gender, dtype: int64

In [ ]:
x = trainDF.drop(['cust_id', 'gender'], axis=0)
y = trainDF['gender']

In [63]:
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE

# 테스트 데이터도 전처리해야하니 아예 함수를 만들자!
def prepro(df):
    # 원핫인코딩
    df['주구매상품'] = pd.get_dummies(df['주구매상품'])
    df['주구매지점'] = pd.get_dummies(df['주구매지점'])
    
    X = df.drop(['cust_id', 'gender'], axis=0)
    y = df['gender']
    
    # 오버샘플링 - smote의 resample()은 독립이 연속, 종속이 분류일때 사용 
#     smote = SMOTE(random_state=0)
#     X, y = smote.fit_resample(df[['총구매액', '최대구매액', '환불금액', '내점일수', '내점당구매건수',
#                                         '주말방문비율', '구매주기']], df['gender'])
#     df2 = pd.DataFrame(X, columns=['총구매액', '최대구매액', '환불금액', '내점일수', '내점당구매건수',
#                              '주말방문비율', '구매주기'])
#     df2['cust_id'] = df['cust_id']
#     df2.merge(df[['주구매상품', '주구매지점']])
#     df2['gender'] = y
    smote = SMOTE(sampling_stategy='auto', random_state=0)
    X, y = smote.fit_sample(X, y)
    
    # 정규화 
    scaler = StandardScaler()
    scaled_df = scaler.fit_transform(df)
    
    return scaled_df

In [64]:
trainDF2 = prepro(trainDF)
trainDF2.head(5)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False